@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

html,body{
  width : 100vw;
  height : 100vh;
}

.container{
  position : relative;
  width : 100vw;
  height : 100vh;
  background-color: gray;
  display : grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-areas: 
  'header header'
  'nav main'
  'nav footer';
  grid-gap : 1vh;
  padding : 1vh;
}
.container > *{
  border : 1px solid black;
  font-size : 1.2rem;
  font-weight : 800;
  font-style : italic;
}
/* header */
.header{
  grid-area: header;
}

/* navigtion */
.nav{
  grid-area: nav;
}

/* main */
.main{
  grid-area: main;
}

/* footer */
.footer{
  grid-area: footer;
}